# 1. Data preprocessing

The goal of this worksheet is to fully process the dataset so it can be used for training the classification models and later validating the same models.

In [1]:
import pandas as pd
import numpy as np

## Obtaining the data

The dataset is quite large so it should be only downloaded once. However if you plan to update your models once in a while then consider re-downloading it once per month as the dataset is usually updated daily. After downloading, the file is extracted and loaded into a DataFrame object and is also sorted in chronological order.

In [2]:
def download():
    import zipfile
    from requests import get
    url = "https://bondora.com/marketing/media/LoanData.zip"

    with open("/data/Data.zip", "wb") as file:
        response = get(url)
        file.write(response.content)

    with zipfile.ZipFile("/data/Data.zip","r") as zip_ref:
        zip_ref.extractall("data/")

#download()

In [ ]:
data = pd.read_csv("data/LoanData.csv")
data = data.sort_values(by=['ListedOnUTC'])

## Inspecting the data

We can see that the dataset contains over 200000 loans and has 112 different columns. The earliest loans are from 2009, which means that the dataset contains over 10 years of loan data.

In [4]:
print(f"DataFrame shape: {data.shape}")

DataFrame shape: (206496, 112)

In [5]:
data.head(5)

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,PartyId,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
957,2021-12-19,FA160D69-2682-4A60-8D8E-9BB700EA30CE,37,2009-02-21 14:12:39,2009-02-21 14:12:39,0,0.0,63.9118,{544DFBAC-374F-4039-AE45-9BB700E44853},True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
958,2021-12-19,8E929B92-7C99-421D-8499-9BB70125F390,42,2009-02-21 17:50:14,2009-02-21 17:50:14,0,0.0,83.0851,{B7FDCB11-4CE9-4CDE-993F-9BB70103B180},True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
959,2021-12-19,33B3F669-D0E3-4474-8045-9BB70128D064,43,2009-02-21 18:00:40,2009-02-21 18:00:40,0,0.0,322.7539,{E58803E6-77B6-40EB-83C4-9BB70118C245},True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
960,2021-12-19,7074D9E8-E8F5-403B-8614-9BB701338AD4,44,2009-02-21 18:39:43,2009-02-21 18:39:43,0,0.0,252.4510,{DE67C0EB-7534-47F2-87BD-9BB7011E112A},True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
961,2021-12-19,39F2A312-CD6C-4F60-A7F6-9BB7014CE0A9,45,2009-02-21 20:11:58,2009-02-21 20:11:58,0,0.0,63.9116,{C41C37A5-B2D7-4B5A-B2D2-9BB70149B419},True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [6]:
data.tail(5)

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,PartyId,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
205983,2021-12-19,2FC2E4C4-C44C-44D8-B043-AE02017EBEBA,2509881,2021-12-18 21:16:56,2021-12-18 23:16:56,249,0.0,46.0,{F2D02DB3-54EE-42FE-AF89-A26D00B0E29C},False,...,0.0,NaN,NaN,2022-01-17,1.0,60.0,NaN,NaN,NaN,NaN
205984,2021-12-19,C82D982A-FF6B-4970-AB85-AE02017F2740,2509884,2021-12-18 21:17:29,2021-12-18 23:17:29,0,0.0,77.0,{C7FA23AE-BDEE-43BB-9F9A-AD0B00E36506},False,...,0.0,NaN,NaN,2022-01-07,1.0,36.0,NaN,NaN,NaN,NaN
205985,2021-12-19,8D96A64A-62B1-464A-B090-AE020189809B,2509901,2021-12-18 21:56:24,2021-12-18 23:56:24,42,9.0,100.0,{6B29DB5A-8EA5-47DF-B9DD-AD690134E09A},True,...,0.0,NaN,NaN,2021-12-27,1.0,60.0,NaN,NaN,NaN,NaN
205986,2021-12-19,0C7BE3CB-0065-4144-AC35-AE030000A287,2509906,2021-12-18 22:03:01,2021-12-19 00:03:01,141,1.0,153.0,{7C4B9CFC-4DD6-4065-9CCF-AD7F00F4EC55},False,...,3.0,NaN,NaN,2022-01-18,1.0,60.0,NaN,NaN,NaN,NaN
205987,2021-12-19,27755F64-36F5-4276-A8E5-AE030000CE9E,2509907,2021-12-18 22:09:54,2021-12-19 00:09:54,0,4.0,80.0,{3CE90EFD-2A63-425F-A614-AC4000C83A8B},False,...,0.0,NaN,NaN,2022-01-20,1.0,60.0,NaN,NaN,NaN,NaN

The data contains various numerical and categorical columns. To fully understand the data and proceed with cleaning the dataset, one must work through the columns one by one. Visual inspection is very helpful when working with this dataset. It is also necessary to statistically describe different columns as it helps to get a better understanding of the data. Below are some examples on how some of the numerical and categorical columns were analyzed.

Another helpful resource is the overview of the codes and terms that are used in the dataset which can be found on the [public-reports](https://www.bondora.com/en/public-reports) section on Bondora's website.

In [7]:
# Describing a numerical column.
data.Amount.describe()

count    206496.000000
mean       2581.925615
std        2199.100969
min           6.390000
25%         740.000000
50%        2125.000000
75%        4150.000000
max       10632.000000
Name: Amount, dtype: float64

In [8]:
# Numerical column value counts.
data.Amount.value_counts(dropna=False)

530.0000     20337
531.0000     14457
4150.0000    14227
2125.0000     9046
2126.0000     7678
             ...
8526.0000        1
447.4012         1
2836.0000        1
1682.0000        1
3100.9000        1
Name: Amount, Length: 6762, dtype: int64

In [9]:
# Describing a categorical column.
data.Rating.describe()

count     203763
unique         8
top            D
freq       48002
Name: Rating, dtype: object

In [10]:
# Categorical column value counts.
data.Rating.value_counts(dropna=False)

D      48002
C      35024
E      34911
B      27147
F      26462
HR     14833
A       9280
AA      8104
NaN     2733
Name: Rating, dtype: int64

## Cleaning and filtering the data

The first step is to drop the unnecessary columns. Many of these columns are obsolete (see Bondora API docs) or serve no purpose for us. However some of the columns are not marked as obsolete in the API docs and half-way through the dataset they are filled only with null values. The reason behind the null values is most likely EU's data protection law (GDPR). Most of these columns were detected by visually going through the dataset and since half of the data is missing in these columns, there is really no point in keeping them.

We keep the columns that can be used as inputs for the models abd we also keep the columns that will help us with validating the models in the later stages.

In [11]:
# Drop unnecessary columns.
df = data.drop(['BiddingStartedOn', 'LoanApplicationStartedDate', 'ApplicationSignedHour',
                'ApplicationSignedWeekday', 'DateOfBirth', 'County', 'City', 'UseOfLoan',
                'MaritalStatus', 'NrOfDependants', 'EmploymentStatus', 'EmploymentPosition',
                'WorkExperience', 'OccupationArea', 'IncomeFromPrincipalEmployer', 'IncomeFromPension',
                'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare', 'IncomeFromLeavePay',
                'IncomeFromChildSupport', 'IncomeOther', 'RefinanceLiabilities', 'DebtToIncome', 'FreeCash', 'MonthlyPaymentDay', 'EL_V0', 'Rating_V0',
                'EL_V1', 'Rating_V1', 'Rating_V2', 'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs', 'PlannedPrincipalTillDate',
                'CreditScoreEsEquifaxRisk', 'CreditScoreEsMicroL', 'BidsPortfolioManager', 'BidsApi', 'BidsManual',
                'PrincipalDebtServicingCost','InterestAndPenaltyDebtServicingCost',
                'ContractEndDate', 'LoanNumber', 'FirstPaymentDate', 'PlannedInterestTillDate', 'CurrentDebtDaysPrimary',
                'DebtOccuredOn', 'CurrentDebtDaysSecondary', 'DebtOccuredOnForSecondary', 'ExpectedLoss', 'LossGivenDefault', 'ExpectedReturn',
                'ProbabilityOfDefault', 'ActiveScheduleFirstPaymentReached', 'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1', 'EAD2',
                'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage', 'StageActiveSince', 'ModelVersion', 'NextPaymentNr', 'ReScheduledOn', 'PartyId'], axis=1)

In order to further reduce the size of the dataset some filters are applied. Some of the columns are parsed into date format, so it's easier to filter the data.

Since we don't know the outcomes of active loans we don't include them. However there is an exception: if the loan is active but has been restructured or has had some other issues, then we keep it and define the loan as a "bad" loan, since we know for sure that the loan has had some sort of issues.

We also apply some filters to numerical and categorical columns in order to deal with anomalies and we also deal with some null values.

In [12]:
# Parse date columns into date format.
date_columns = ['LoanDate', 'MaturityDate_Original', 'MaturityDate_Last', 'ReportAsOfEOD']
df[date_columns] = df[date_columns].apply(pd.to_datetime, format='%Y-%m-%d', errors='coerce')

# Do not include loans that are currently active, and have not been restructured (the original maturity date of the loan has not increased by at least 60 days).
df = df.loc[~((df.Status == 'Current') & (df.Restructured == 0))]

# Some loans have been repaid just days after signing a contract so they should be filtered out.
df = df.loc[~(((df.MaturityDate_Last - df.LoanDate) < pd.to_timedelta("180days")) & (df.Status == 'Repaid'))]

# Remove the most recent loans because most of them seem to be with the status "Late" or have not been updated.
df = df.loc[(df.LoanDate <= (df.ReportAsOfEOD - pd.to_timedelta("120days")))]

In [13]:
# Filters regarding numerical values.

# Age must be between 18 and 70.
df = df.loc[(df.Age >= 18) & (df.Age <= 70)]

# Monthly payment must be over 0.
df = df.loc[(df.MonthlyPayment > 0)]

In [14]:
# Filters regarding categorical values.

# Select allowed loan durations. This dataset contains various contract lengths, but we are interested in the most common ones. Values represent loan duration in months.
df.LoanDuration = df.LoanDuration.astype('category')
df = df.loc[(df.LoanDuration.isin([60, 48, 36, 30, 24, 18, 12, 9, 6]))]

# We only want loans from EE.
df = df.loc[(df.Country.isin(['EE']))]

# The main verification types.
df.VerificationType = df.VerificationType.astype('category')
df = df.loc[(df.VerificationType.isin([1, 2, 3, 4]))]

# Gender is either male of female.
df.Gender = df.Gender.astype('category')
df = df.loc[(df.Gender.isin([0, 1]))]

# Select allowed education levels.
df.Education = df.Education.astype('category')
df = df.loc[(df.Education.isin([1, 2, 3, 4, 5]))]

# Select allowed employment durations.
df = df.loc[(df.EmploymentDurationCurrentEmployer.isin(['MoreThan5Years', 'UpTo5Years', 'UpTo4Years', 'UpTo3Years', 'UpTo2Years', 'UpTo1Year', 'TrialPeriod', 'Retiree', 'Other']))]

# Select allowed home ownership types.
df.HomeOwnershipType = df.HomeOwnershipType.astype('category')
df = df.loc[(df.HomeOwnershipType.isin([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))]

# Select allowed ratings.
df = df.loc[(df.Rating.isin(['AA', 'A', 'B', 'C', 'D', 'E', 'F', 'HR']))]

# Select allowed credit score levels.
df.CreditScoreEeMini = df.CreditScoreEeMini.astype('category')
df = df.loc[(df.CreditScoreEeMini.isin([1000, 900, 800, 700, 600, 500]))]

In [15]:
# Dealing with null values.

df.PreviousRepaymentsBeforeLoan = df.PreviousRepaymentsBeforeLoan.fillna(0)
df.PreviousEarlyRepaymentsBefoleLoan = df.PreviousEarlyRepaymentsBefoleLoan.fillna(0)

In [16]:
print(f"DataFrame shape after cleaning: {df.shape}")

DataFrame shape after cleaning: (84675, 47)

We can see that the dimensions of the dataset are a lot smaller after processing it.

## Constructing the target variable

We construct a target variable called "PreferLoan" which is a boolean value. As stated before, loans with previous issues are not to be preferred and are assigned the value "0". Loans without issues are assigned the value "1". However a small exception is made. If the the worst late category is 16-30 days or less and the loan has not had any other issues then the loan is still preferred.

In [17]:
# Constructing the target value.

# Loan status must be 'Repaid'.
# WorseLateCategory must not be higher than 16-30 (can be null).
# Loan must be repaid before or on the original maturity date.
# Loan must not be restructured.
# Loan must not be defaulted.

# Set the default value for all loans to be 0.
df["PreferLoan"] = 0

# Select preferred loans and set their value to 1.
df.loc[(
               (df.Status == 'Repaid') &
               (df.WorseLateCategory.isin([np.nan, '1-7', '8-15', '16-30'])) &
               (df.MaturityDate_Last <= df.MaturityDate_Original) &
               (df.Restructured != 1) &
               (df.DefaultDate.isnull())
       ), 'PreferLoan'] = 1

## Splitting the data for next the next steps
As the final step the data is split into a training and a validation set and both are saved for the next steps. The data is also shuffled.

In [18]:
from sklearn.model_selection import train_test_split

# Split into two sets.
train_df, validation_df = train_test_split(df, test_size=0.5, shuffle=True)

print(validation_df.PreferLoan.value_counts())
print("\n")
print(train_df.PreferLoan.value_counts())

0    32245
1    10093
Name: PreferLoan, dtype: int64


0    32286
1    10051
Name: PreferLoan, dtype: int64

In [19]:
# Save both sets.
train_df.to_csv('data/train_data.csv', index=False)
validation_df.to_csv('data/validation_data.csv', index=False)